* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Lato', sans-serif;
    line-height: 1;
    color: #000000;
}

body {
    background-color: #fff;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    margin-left: 80px; 
    overflow-x: hidden; 
}

.sidebar-navigation {
    display: inline-block;
    min-height: 100vh;
    width: 80px;
    background-color: #4070f4;
    position: absolute; 
    left: 0; 
    top: 0;
}

a {
    text-decoration: none;
}

.sidebar-navigation ul {
    text-align: center;
    color: #fff;
}

.sidebar-navigation ul li {
    padding: 28px 0;
    cursor: pointer;
    transition: all ease-out 120ms;
}

.sidebar-navigation ul li i {
    display: block;
    font-size: 24px;
    transition: all ease 450ms;
}

.sidebar-navigation ul li .tooltip {
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    padding: 8px 15px;
    border-radius: 3px;
    margin-top: -26px;
    left: 90px;
    opacity: 0;
    visibility: hidden;
    font-size: 13px;
    letter-spacing: .5px;
}

.sidebar-navigation ul li .tooltip:before {
    content: '';
    display: block;
    position: absolute;
    left: -4px;
    top: 10px;
    transform: rotate(45deg);
    width: 10px;
    height: 10px;
    background-color: inherit;
}

.sidebar-navigation ul li:hover {
    background-color: #f6f6f6;
}

.sidebar-navigation ul li:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.sidebar-navigation ul li.active {
    background-color: #4070f4;
}

.sidebar-navigation ul li.active i {
    color: #4070f4;
}

.sidebar-navigation ul li:hover i {
    color: #000000;
}

.sidebar-navigation ul li.active i {
    color: #000000; 
}

.container {
    width: 90%; /* Largura do container */
    max-width: 600px; /* Largura máxima */
    margin: 0 auto; /* Centraliza */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1,h4 {
    margin: 10px; 
    padding: 10px
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.header-container {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 20px; /* Espaçamento abaixo do cabeçalho */
}
